<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <meta charset="utf-8" />
    <title>自动化测试平台</title>
</head>

<body role="document">
<!-- 导航栏 -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" herf="#">&nbsp;</a>
        <ul class="nav justy-content-center">
            <li><a style="color:white" href="/apitest_manage/">流程接口测试用例</a></li>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <li class="active"><a style="color:white" href="/apistep_manage/">流程接口测试步骤</a></li>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <li class="active"><a style="color:white" href="/apis_manage/">单一接口测试用例</a></li>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </ul>
        <ul class="nav justy-content-end">
            <li class="nav-link"><a style="color:white" href="#">{{ user }}</a></li>
            <li class="nav-link"><a style="color:white" href="/logout/">退出</a></li>
        </ul>
    </div>
</nav>

<!-- 搜索栏 -->
<div class="page-header" style="padding-top: 70px;">
    <form class="navbar-form" method="get" action="/apisearch/">
        {% csrf_token %}
        <input type="search" name="apitestname" placeholder="名称" required />
        <button type="submit">搜索</button>
    </form>
</div>

<!-- 流程接口列表 -->
<div class="row" style="padding-top: 20px;">
    <div class="col-md-11">
        <table class="table table-striped">
            <thead>
                <tr><td>&nbsp;</td></tr>
                <tr>
                    <th>ID</th>
                    <th>产品</th>
                    <th>流程接口测试用例名称</th>
                    <th>流程接口描述</th>
                    <th>测试负责人</th>
                    <th>测试结果</th>
                    <th>测试用例步骤</th>
                </tr>
            </thead>
            <tbody>
                {% for apitest in apitests %}
                <tr>
                    <td>{{ apitest.id }}</td>
                    <td>{{ apitest.Product.productname }}</td>
                    <td>{{ apitest.apitestname }}</td>
                    <td>{{ apitest.apitestdesc }}</td>
                    <td>{{ apitest.apitester }}</td>
                    <td>{{ apitest.apitestresult }}</td>
                    <td>{{ apitest.Apistep.apiteststep }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</body>
</html>