<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% load static %}
    {% load bootstrap4 %}
    {% bootstrap_jquery %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <meta charset="utf-8" />
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" type="text/css"/>
    <title>autotestplat</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
        <a class="navbar-brand" style="color:white" href="../welcome" target="mainFrame">自动化测试平台</a>
    </nav>

    <!-- <table border="0"> glyphicon gllyphicon-credit-card -->
    <div class="container-fluid" style="padding-top: 70px;">

        <tr>
            <td>
                <li>
                    <a href="../product_manage" target="mainFrame" style="font-size:18px">
                        <i class="glyphicon glyphicon-gift"></i>
                        产品中心
                    </a>
                </li>
            </td>
        </tr>

        <tr><td>&nbsp;</td></tr>

        <tr>
            <td>
                <li>
                    <a href="../apis_manage" target="mainFrame" style="font-size:18px">
                        <i class="glyphicon glyphicon-star"></i>
                        用例管理
                    </a>
                </li>
            </td>
        </tr>

        <tr><td>&nbsp;</td></tr>

        <tr>
            <td>
                <li>
                    <a href="../periodic_task" target="mainFrame" style="font-size:18px">
                        <i class="glyphicon glyphicon-fire"></i>
                        定时任务
                    </a>
                </li>
            </td>
        </tr>
        
        <tr><td>&nbsp;</td></tr>

        <tr>
            <td>
                <li>
                    <a href="../bug_manage" target="mainFrame" style="font-size:18px">
                        <i class="glyphicon glyphicon-eye-open"></i>
                        bug管理
                    </a>
                </li>
            </td>
        </tr>
        
        <tr><td>&nbsp;</td></tr>

        <tr>
            <td>
                <li>
                    <a href="../test_report" target="mainFrame" style="font-size:18px">
                        <i class="glyphicon glyphicon-calendar"></i>
                        测试报告
                    </a>
                </li>
            </td>
        </tr>
        
        <tr><td>&nbsp;</td></tr>

        <tr>
            <td>
                <li>
                    <a href="../set_manage" target="mainFrame" style="font-size:18px">
                        <i class="glyphicon glyphicon-cog"></i>
                        系统设置
                    </a>
                </li>
            </td>
        </tr>

        <tr><td>&nbsp;</td></tr>
    </div>

<script href="{% static "js/jquery.min.js" %}"></script>
<script href="{% static "js/bootstrap.min.js" %}"></script>
</body>
</html>