<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <title>自动化测试平台</title>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" />
    <script type="text/javascript" src="/admin/jsi18n/"></script>
    <script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
    <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
    <script type="text/javascript" src="/static/admin/js/core.js"></script>
    <script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
    <script type="text/javascript" src="/static/admin/js/actions.js"></script>
    <script type="text/javascript" src="/static/admin/js/urlify.js"></script>
    <script type="text/javascript" src="/static/admin/js/prepopulate.js"></script>
    <script type="text/javascript" src="/static/admin/js/vendor/xregexp/xregexp.js"></script>

    <meta name="viewport" content="user-scalabel=no, width=device-width, initial-scale=1.0, maximum-sacle=1.0" />
    <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css" />
    <meta name="robots" content="NONE, NOARCHIVE" />

    <script type="text/javascript">
        function logout()
            {
                if (window.top!==window.self)
                    {
                        window.top.location="/logout"
                    }
            }
    </script>
</head>

<body role="document">
<!-- 导航栏 -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">&nbsp;</a>
        <ul class="nav justify-content-center"></ul>
        <ul class="nav justify-content-end">
            <li class="nav-link"><a style="color:white" href="#">{{ user }}</a></li>
            <li class="nav-link"><a style="color:white" href="/logout/" onclick="logout()">退出</a></li>
        </ul>
    </div>
</nav>

<div class="row" style="padding-top: 50px;">
    <div class="container">
        <span>
            <h1>欢迎您，来到Autotestplat V1.0</h1>
        </span>
    </div>
</div>
<div class="row" style="padding-top: 23px;">
    <div class="container">
        <tr>
            <td>
                <a href="../test_report" target="mainFrame">单击进入测试报告</a>
            </td>
        </tr>
    </div>
</div>

</body>
</html>