<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% load static %}
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <meta charset="utf-8" />
    <title>自动化测试平台</title>
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" />
    <script type="text/javascript" src="/admin/jsi18n/"></script>
    <script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
    <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
    <script type="text/javascript" src="/static/admin/js/core.js"></script>
    <script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
    <script type="text/javascript" src="/static/admin/js/actions.js"></script>
    <script type="text/javascript" src="/static/admin/js/urlify.js"></script>
    <script type="text/javascript" src="/static/admin/js/prepopulate.js"></script>
    <script type="text/javascript" src="/static/admin/js/vendor/xregexp/xregexp.js"></script>

    <meta name="viewport" content="user-scalabel=no, width=device-width, initial-scale=1.0, maximum-sacle=1.0" />
    <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css" />
    <meta name="robots" content="NONE, NOARCHIVE" />
    <style>        body {
            text-align: center
        }
    </style>

    <script type="text/javascript">
        function logout()
            {
                if (window.top!==window.self)
                    {
                        window.top.location="/logout"
                    }
            }
    </script>
</head>

<body role="document">
<!-- 导航栏 -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <div class="container">
        <li class="active"><a style="color:white" href="/apis_manage/">单一接口</a></li>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <li><a style="color:white" href="/apitest_manage/">流程接口</a></li>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <li  class="active"><a style="color:white" href="/appcase_manage/">app用例</a></li>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <li  class="active"><a style="color:white" href="/webcase_manage/">web用例</a></li>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <ul class="nav justy-content-end">
            <li class="nav-link"><a style="color:white" href="#">{{ user }}</a></li>
            <li class="nav-link"><a style="color:white" href="/logout/" onclick="logout()">退出</a></li>
        </ul>
    </div>
</nav>

<!-- 搜索栏 -->
<div class="page-header" style="padding-top: 70px;">
    <form class="navbar-form" method="get" action="/webcasestepsearch/">
        {% csrf_token %}
        <input type="search" name="webcasename" placeholder="名称" required />
        <button type="submit">搜索</button>
    </form>
</div>

<!-- 流程测试步骤 -->
<div class="row" style="padding-top: 20px;">
    <div class="col-md-11">
        <table class="table table-striped">
            <thead>
                <tr><td>&nbsp;</td></tr>
                <tr>
                    <th>所属产品</th>
                    <th>所属用例</th>
                    <th>步骤</th>
                    <th>定位方式</th>
                    <th>控件元素</th>
                    <th>操作方法</th>
                    <th>测试数据</th>
                    <th>验证数据</th>
                    <th>测试结果</th>
                    <th>创建时间</th>
                </tr>
            </thead>
            <tbody>
                {% for webcasestep in webcasesteps %}
                <tr>
                    {% if webcasestep.Webcase.id == webcase.id %}
                    <td>{{ webcasestep.Webcase.Product.productname }}</td>
                    <td>case {{ webcasestep.Webcase.id }}:{{ webcasestep.Webcase.webcasename }}</td>
                    <td>{{ webcasestep.webteststep }}:{{ webcasestep.webtestobjname }}</td>
                    <td>{{ webcasestep.webfindmethod }}</td>
                    <td>{{ webcasestep.webevelement }}</td>
                    <td>{{ webcasestep.weboptmethod }}</td>
                    <td>{{ webcasestep.webtestdata }}</td>
                    <td>{{ webcasestep.webassertdata }}</td>
                    <td>{% if webcasestep.webtestresult == 1 %}
                        <a style="color:green">{{ webcasestep.webtestresult }}</a>
                        {% else %}
                        <a style="color:red">{{ webcasestep.webtestresult }}</a>
                        {% endif %}
                     </td>
                    <td>{{ webcasestep.create_time }}</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<td>
    <a style="color:lightblue" href="../webcase_manage/">
        <img src="/static/admin/img/icon-yes.svg" alt="返回" />
        返回
    </a>
</td>
<td>
    <a style="color:lightblue" class="related-widget-wrapper-link add-related" id="add_id_Webtest" 
       href="../admin/webtest/webcase/{{ webcase.id }}/change/?_to_filed=id&_popup=1">
        <img src="/static/admin/img/icon-changelink.svg" alt="编辑" />
        编辑
    </a>
</td>

<!-- 翻页 -->
<span style="position:absolute; right:100px; bottom:30px;">
<div class="container">
    <ul class="pagination" id="pager">
        {% if webcasesteps.has_previous %}
        <li class="previous"><a href="/webcasestep_manage/?page={{ webcasesteps.previous_page_number }}">上一页</a></li>
        {% else %}
        <li class="previous disabled"><a href="#">上一页</a></li>
        {% endif %}

        {% for num in webcasesteps.paginator.page_range %}
        {% if num == currengPage %}
        <li class="item active"><a href="/webcasestep_manage/?page={{ num }}">{{ num }}</a></li>
        {% else %}
        <li class="item"><a href="/webcasestep_manage/?page={{ num }}">{{ num }}</a></li>
        {% endif %}
        {% endfor %}

        {% if webcasesteps.has_next %}
        <li class="next"><a href="/webcasestep_manage/?page={{ webcasesteps.next_page_number }}">下一页</a></li>
        {% else %}
        <li class="next disabled"><a href="#">下一页</a></li>
        {% endif %}
    </ul>
</div>

</body>
</html>